OPENAI_API_KEY=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
SUPABASE_URL=https://zldtjecndmvtdvdlszgd.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpsZHRqZWNuZG12dGR2ZGxzemdkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUxMzk5MzcsImV4cCI6MjA3MDcxNTkzN30.utUxFKtpx1f-OyJsneE6DgsC_OvuxD0zfwqTgUi0O5Y